In [1]:
# https://hh.ru/vacancy/72557581?from=vacancy_search_list&query=game%20analyst

In [2]:
import pandas as pd

In [3]:
# Сделал датафрейм Result = 0 (неэффективная реклама), 1 (эффетивная)
df = pd.DataFrame({
    'Profile': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Initiator': ['Google', 'Yandex', 'Yahoo', 'VK', 'VK', 'Google','Google',\
                  'Yandex','Google', 'Yandex'],
    'Result': [1, 0, 0, 1, 0, 1, 1, 0, 1, 1],
    'TapCount': [5, 3, 2, 2, 9, 10, 5, 1, 7, 1 ]})

In [4]:
df

   Profile Initiator  Result  TapCount
0        1    Google       1         5
1        2    Yandex       0         3
2        3     Yahoo       0         2
3        4        VK       1         2
4        5        VK       0         9
5        6    Google       1        10
6        7    Google       1         5
7        8    Yandex       0         1
8        9    Google       1         7
9       10    Yandex       1         1

In [5]:
users = df.groupby('Initiator')['Profile'].count().sort_values(ascending=False)

In [6]:
# Кол-во уникальных пользователей для каждого рекламного источника
Unique_Users = pd.DataFrame(users)
Unique_Users

           Profile
Initiator
Google           4
Yandex           3
VK               2
Yahoo            1

In [7]:
# Успешная реклама
Successfull_Ad = df.groupby('Initiator')['Result'].sum().sort_values(ascending=False)

In [8]:
# Всего рекламы
Total_Ad = df.groupby('Initiator')['Profile'].count().sort_values(ascending=False)

In [9]:
S_Ad = pd.DataFrame(Successfull_Ad)

In [10]:
T_Ad = pd.DataFrame(Total_Ad)

In [11]:
# Объединяем 2 таблчики
United_Ad = S_Ad.merge(T_Ad, on='Initiator', how='inner')

In [12]:
# Переименовываем, чтобы было понятнее
United_Ad = United_Ad.rename(columns={
    'Result': 'Success',
    'Profile': 'Total',
})

In [13]:
United_Ad['Successful'] = round(United_Ad['Success']/United_Ad['Total'],1)*100

In [14]:
United_Ad['UnSuccessful'] = round((United_Ad['Total']-United_Ad['Success'])/United_Ad['Total'],1)*100

In [15]:
# Эффективность рекламы в процентах
Ad_Efficiency = United_Ad[['Successful', 'UnSuccessful']]
Ad_Efficiency

           Successful  UnSuccessful
Initiator
Google          100.0           0.0
VK               50.0          50.0
Yandex           30.0          70.0
Yahoo             0.0         100.0

In [16]:
Ad_Efficiency.to_excel('HH.xlsx')